@use "../../../../style/breakpoints" as *;

@media only screen and ($very-small) {
    #register-occurrences{
        margin-top: 25%;
    }
}

@media only screen and ($small) {
    #register-occurrences{
        margin-top: 40%;
    }

    .mensagem{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10px;
        label{
            font-size: 1.1rem;

        }

    }
}

@media only screen and ($medium) {
}

@media only screen and ($large) {
}

@media only screen and ($extra-large) {
}

@media only screen and ($extra-extra-large) {    
}
