@use "../../style/colors" as color;
@use "../../style/breakpoints" as *;

.error-message{
    margin-top: 10px;
    width: 100%;
    font-size: 1.3rem;
    color: red;
    text-align: center;
}

@media only screen and ($very-small){
.button{
    border-radius: 2%;
    background-color: color.$green;
    padding: 5px 20px;
    font-size: 20px;
    box-shadow: 1px 1px;
}

.button:hover{
    background-color: grey_green;
    cursor: pointer;
}

.generic_frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.generic_frame img{
    width: 70%;
}

#lista_botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#lista_botoes .button{
    background-color: rgba(167, 242, 165, 0.17);
    padding: 20px 20px;
    font-size: 24px;
    font-family: 'Inter , Arial';
    font-style: italic;
    box-shadow: 1px 1px;
    min-width: 300px;
}

#lista_botoes .button:hover{
    background-color: rgba(167, 242, 165, 0.90) ;
    cursor: pointer;
}

/* ================================================================= */

.input{
    border-radius:2%;
    max-width: 700px;
    min-width: 290px;
    padding: 10px 20px;
    text-align:start; 
}


.botoes_de_lado{
    display:flex;
    flex-direction:row; 
    gap: 20px;
}

.botoes_de_lado .button{
    margin-left: 15%;
}

#conteudo_frame2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

#input_password{
    button{
        margin-left: -50px;
        background: none;
        border: none;
        cursor: pointer;

        .eyes{
            width: auto;
            max-height: 30px;
        }
    }
            
}
}

@media only screen and ($small){
    .button{
        border-radius: 2%;
        background-color: color.$green;
        padding: 5px 20px;
        font-size: 20px;
        box-shadow: 1px 1px;
    }
    
    .button:hover{
        background-color: grey_green ;
        cursor: pointer;
    }
    
    .generic_frame{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-top: 5%;
        gap: 20px;
    }
    
    .generic_frame img{
        width: 70%;
    }
    
    #lista_botoes{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    #lista_botoes .button{
        background-color: rgba(167, 242, 165, 0.17);
        padding: 20px 20px;
        font-size: 24px;
        font-family: 'Inter , Arial';
        font-style: italic;
        box-shadow: 1px 1px;
        min-width: 360px;
    }
    
    #lista_botoes .button:hover{
        background-color: rgba(167, 242, 165, 0.90) ;
        cursor: pointer;
    }
    
    
    /* ================================================================= */
    
    .input{
        border-radius:2%;
        max-width: 700px;
        min-width: 290px;
        padding: 10px 20px;
        text-align:start; 
    }
    
    
    .botoes_de_lado{
        display:flex;
        flex-direction:row; 
        gap: 20px;
    }
    
    .botoes_de_lado .button{
        margin-left: 15%;
    }
    
    #conteudo_frame2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    #input_password{
        button{
            margin-left: -50px;
            background: none;
            border: none;
            cursor: pointer;

            .eyes{
                width: auto;
                max-height: 30px;
            }
        }
                
    }
    
}

@media only screen and ($medium) {
    .button{
        border-radius: 2%;
        background-color: color.$green;
        padding: 5px 20px;
        font-size: 20px;
        box-shadow: 1px 1px;
    }
    
    .button:hover{
        background-color: grey_green ;
        cursor: pointer;
    }
    
    
    .generic_frame{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }
    
    .generic_frame img{
        width: 60%;
    }
    
    #lista_botoes{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    #lista_botoes .button{
        background-color: rgba(167, 242, 165, 0.17);
        padding: 10px 20px;
        font-size: 36px;
        box-shadow: 1px 1px;
        min-width: 460px;
        
    
    }
    
    #lista_botoes .button:hover{
        background-color: rgba(167, 242, 165, 0.90) ;
        cursor: pointer;
    }
    
    
    /* ================================================================= */
    
    .input{
        border-radius:2%;
        width: 60%;
        max-width: 900px;
        min-width: 500px;
        padding: 10px 20px;
        text-align:start;
        font-size: 1.4rem; 
    }

    .botoes_de_lado{
        display:flex;
        flex-direction:row; 
        gap:20px;
    }

    .botoes_de_lado .button{
        font-size: 1.3rem;
        margin-left: 15%;
    }
    
    
    #conteudo_frame2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    #input_password{
        button{
            margin-left: -50px;
            background: none;
            border: none;
            cursor: pointer;

            .eyes{
                width: auto;
                max-height: 30px;
            }
        }
                
    }
}

@media only screen and ($large){
    .button{
        border-radius: 2%;
        background-color: color.$green;
        padding: 5px 20px;
        font-size: 20px;
        box-shadow: 1px 1px;
    }
    
    .button:hover{
        background-color: grey_green ;
        cursor: pointer;
    }
    
    
    .generic_frame{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }
    
    .generic_frame img{
        width: 50%;
    }
    
    #lista_botoes{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    #lista_botoes .button{
        background-color: rgba(167, 242, 165, 0.17);
        padding: 10px 20px;
        font-size: 36px;
        box-shadow: 1px 1px;
        min-width: 460px;
        
    
    }
    
    #lista_botoes .button:hover{
        background-color: rgba(167, 242, 165, 0.90) ;
        cursor: pointer;
    }
    
    
    /* ================================================================= */
    
    .input{
        border-radius:2%;
        width: 60%;
        max-width: 800px;
        min-width: 600px;
        padding: 10px 20px;
        text-align:start;
        font-size: 1.4rem; 
    }

    .botoes_de_lado{
        display:flex;
        flex-direction:row; 
    }

    .botoes_de_lado .button{
        font-size: 1.3rem;
        margin-left: 15%;
    }
    
    
    #conteudo_frame2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    #input_password{
        button{
            margin-left: -50px;
            background: none;
            border: none;
            cursor: pointer;

            .eyes{
                width: auto;
                max-height: 30px;
            }
        }
                
    }
}

@media only screen and ($extra-large){
    .button{
        border-radius: 2%;
        background-color: color.$green;
        padding: 5px 20px;
        font-size: 20px;
        box-shadow: 1px 1px;
    }
    
    .button:hover{
        background-color: grey_green ;
        cursor: pointer;
    }
    
    
    .generic_frame{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;

        img{
            width: 40%;
        }
    }
    
    #lista_botoes{
        display: flex;
        flex-direction: column;
        gap: 30px;

        .button{
            background-color: rgba(167, 242, 165, 0.17);
            padding: 10px 20px;
            font-size: 36px;
            box-shadow: 1px 1px;
            min-width: 460px;
        }

        .button:hover{
            background-color: rgba(167, 242, 165, 0.90) ;
            cursor: pointer;
        }
    } 
    
    /* ================================================================= */
    
    .input{
        border-radius:2%;
        width: 60%;
        max-width: 800px;
        min-width: 600px;
        padding: 10px 20px;
        text-align:start;
        font-size: 1.4rem; 
    }

    .botoes_de_lado{
        display:flex;
        flex-direction:row;
        gap: 30px;

        .button{
            font-size: 1.4rem;
            margin-left: 15%;
        }
    }    
    
    #conteudo_frame2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    #input_password{
        button{
            margin-left: -50px;
            background: none;
            border: none;
            cursor: pointer;

            .eyes{
                width: auto;
                max-height: 30px;
            }
        }
                
    }
}

@media only screen and ($extra-extra-large) {
    .button{
        border-radius: 2%;
        background-color: color.$green;
        padding: 5px 20px;
        font-size: 20px;
        box-shadow: 1px 1px;
    }
    
    .button:hover{
        background-color: grey_green ;
        cursor: pointer;
    }
    
    
    .generic_frame{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
        padding-top: 0px;

        img{
            width: 20%;
        }
    }
    
    #lista_botoes{
        display: flex;
        flex-direction: column;
        gap: 30px;

        .button{
            background-color: rgba(167, 242, 165, 0.17);
            padding: 5px 20px;
            font-size: 24px;
            box-shadow: 1px 1px;
            min-width: 460px;
        }

        .button:hover{
            background-color: rgba(167, 242, 165, 0.90) ;
            cursor: pointer;
        }
    }
    
    /* ================================================================= */
    
    .input{
        border-radius:2%;
        width: 60%;
        max-width: 700px;
        min-width: 500px;
        padding: 10px 20px;
        text-align:start;
        font-size: 1.4rem; 
    }

    .botoes_de_lado{
        display:flex;
        flex-direction:row; 
        gap: 30px;

        .button{
            font-size: 1.4rem;
            margin-left: 15%;
        }
    }
    
    #conteudo_frame2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    #input_password{
        button{
            margin-left: -50px;
            background: none;
            border: none;
            cursor: pointer;

            .eyes{
                width: auto;
                max-height: 30px;
            }
        }
                
    }
}