@media only screen and (max-width:576px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-weight: bold;
            margin-top: 50px;
            font-size: 1.8rem;
            margin-bottom: 50px;
            text-decoration: underline;
        }

        .box-menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;

            .buttonImage{
                flex: 0 1 calc(50% - 10px);
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            p{
                text-align: center;
            }

            button{
                box-shadow: 2px 2px 2px;
                border-color: transparent;
                border-radius: 20%;
                min-width: 100px;
                min-height: 100px;
            }

            img{
                width: 70%;
                height: 70%;
            }
        }

    /*====================================================================================*/
        .main-menu{
            display: flex;
            flex-direction: column;
            gap: 40px;

            .button{
                border-color: transparent;
                min-height: 70px;
                background-color: rgba(235, 235, 235, 0.9);
                border-radius: 20px;
            }

            .button:hover{
                background-color: rgba(235, 235, 235, 0.5);
            }
        }
    }
}

@media only screen and (min-width:576px) {
    .main{

        .button:hover{
            cursor: pointer;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-weight: bold;
            margin-top: 50px;
            font-size: 1.8rem;
            margin-bottom: 50px;
            text-decoration: underline;
        }
        .box-menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;

            .buttonImage{
                flex: 0 1 calc(50% - 10px);
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;


                p{
                    text-align: center;
                    font-size: 1.3rem;
                }

                button{
                    box-shadow: 2px 2px 2px;
                    border-color: transparent;
                    border-radius: 20%;
                    min-width: 130px;
                    min-height: 130px;
                    transition: filter 0.3s ease;
                }

                button:hover{
                    cursor: pointer;
                    filter:contrast(1.06);
                }
                
                button:focus{
                    outline: none;
                }

                img{
                    width: 70%;
                    height: 70%;
                }
            }
        }
        /*====================================================================================*/
        .main-menu{
            display: flex;
            flex-direction: column;
            gap: 40px;

            .button{
                border-color: transparent;
                min-height: 70px;
                background-color: rgba(235, 235, 235, 0.9);
                border-radius: 20px;
                transition: filter 0.3s ease;
            }

            .button:hover{
                
                filter:contrast(1.1);
            }

            .button:focus{
                outline: none;
            }
        }
    }
}

@media only screen and (min-width:744px) {
    .main{
        .box-menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;


            .buttonImage{
                flex: 0 1 calc(30% - 10px);
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    font-size: 1.2rem;
                }
                
                img{
                    width: 60%;
                    height: 60%;
                }
            }
        }

        /*====================================================================================*/
    }
}

@media only screen and (min-width:992px) {
    .main{
        .box-menu{
            .buttonImage{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    .main{
        .box-menu{
            .buttonImage{
                p{
                    font-size: 1.1rem;
                }
            }
        
        }
    }
}

@media only screen and (min-width:1440px) {
    
}
