@use "../../../../style/breakpoints" as *;

@media only screen and ($very-small) {
    
}

@media only screen and ($small) {
    

    input[type=file]{
        display: flex;
        flex-direction: row-reverse;
    }
    input[type=file]:hover{
        cursor: pointer;
    }

    .mensagem{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10px;
        label{
            font-size: 1.1rem;

        }

    }
}

@media only screen and ($medium) {
}

@media only screen and ($large) {
}

@media only screen and ($extra-large) {
}

@media only screen and ($extra-extra-large) {    
}
